.sign-up-wrapper
  %header.sign-up__header
    = link_to '#' do
      = image_tag "http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg"

  %main.sign-up-content
    %h2.sign-up-content__head 登録が完了しました。
    %section.sign-up-content__main
      .sign-up-content__main__form1
        .sign-up-content__main__form1__actions
          = link_to "トップへ戻る", root_path,class:"sign-up-content__main__form1__actions__button"

  