body{ 
  background-color:#ffffff;
  margin-right: auto;//ここで中央寄せを指定する。
  margin-left : auto;
  width:700px;
}

.product-photo{
  padding: 40px;
  border-bottom: 1px solid #dcdcdc;
  font-weight: bold;
  span{
    background-color: red;
    color: #ffffff;
    padding: 1px 4px;
    border-radius: 3px;
    margin-left: 8px;
    font-size: 13px;
    font-weight: bold;
  }
  p{
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 14px;
  }
  pre{
    background-color: #e0ffff;
    font-weight: normal;
    height: 150px;
    border: dashed 1px #3CCACE;
    border-radius: 3px;
    transition: .4s;
    color: #808080;
    text-align: center;
    line-height: 150px;
  }
}

.product{
  padding: 40px;
  border-bottom: 1px solid #dcdcdc;
  label{
    font-weight: bold;
  }
  span{
      background-color: red;
      color: #ffffff;
      padding: 1px 4px;
      border-radius: 3px;
      margin-left: 8px;
      font-size: 13px;
      font-weight: bold;
    }
  &__name {
    input{
      width: 580px;
      height: 40px;
      padding: 0 16px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin: 20px 0px 40px;
    }
  }

  &__explanation{
    textarea{
      width: 580px;
      height: 100px;
      padding: 0 16px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin: 20px 0px 0px;
    }
  }
}

.product-details{
  padding: 40px 40px 0px;
  border-bottom: 1px solid #dcdcdc;
  p{
    font-weight: bold;
    margin-bottom: 40px;
    color: #a9a9a9;
    }
  label{
    font-weight: bold;
  }
  span{
    background-color: red;
    color: #ffffff;
    padding: 1px 4px;
    border-radius: 3px;
    margin-left: 8px;
    font-size: 13px;
    font-weight: bold;
  }
  select{
      width: 615px;
      height: 40px;
      padding: 0 16px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin: 20px 0px 40px;
    }
  &__brand{
    span{
      background-color: #c0c0c0;
      color: #ffffff;
      padding: 1px 4px;
      border-radius: 3px;
      margin-left: 8px;
      font-size: 13px;
      font-weight: bold;
    }
    input{
      width: 580px;
      height: 40px;
      padding: 0 16px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin: 20px 0px 40px;
    }
  }
}

.delivery{
  padding: 40px 40px 0px;
  border-bottom: 1px solid #dcdcdc;
  p{
    font-weight: bold;
    margin-bottom: 40px;
    color: #a9a9a9;
    }
  label{
    font-weight: bold;
  }
  span{
    background-color: red;
    color: #ffffff;
    padding: 1px 4px;
    border-radius: 3px;
    margin-left: 8px;
    font-size: 13px;
    font-weight: bold;
  }
  select{
    width: 615px;
    height: 40px;
    padding: 0 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 20px 0px 40px;
  }
  &__method{
    p{
      font-weight: bold;
    }
  }
    
  &__prefecture{
    p{
      font-weight: bold;
    }
  }
  &__send-day{
    p{
      font-weight: bold;
    }
  }
}

.selling-price{
  padding: 40px;
  font-weight: bold;
  border-bottom: 1px solid #dcdcdc;
  p{
    color: #a9a9a9;
    margin-bottom: 20px;
  }
  span{
    background-color: red;
    color: #ffffff;
    padding: 1px 4px;
    border-radius: 3px;
    margin-left: 8px;
    font-size: 13px;
    font-weight: bold;
    
  }
  input{
    width: 300px;
    height: 40px;
    padding: 0 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 20px 0px 40px 150px;
  }
  
}

.exhibition-btn{
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 10px 200px;
  text-decoration: none;
  color: #FFF;
  background: #3CCACE;
  transition: .4s;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.save-draft-btn{
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 10px 200px;
  text-decoration: none;
  color: #FFF;
  background: #ccc;
  transition: .4s;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.return{
  color: #c0c0c0;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.note{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 12px;
}