.card  
  .method-payment
    支払い方法
  .card-number
    %label カード番号
    %span.require 必須
    %p
      %input
  .expiration-date
    %label 有効期限
    %span.require 必須
    %p
      %select
        %option 01
        %option 02
        %option 03
        %option 04
        %option 05
        %option 06
        %option 07
        %option 08
        %option 09
        %option 10
        %option 11
        %option 12
      %span 月
      %select
        %option 20
        %option 21
        %option 22
        %option 23
        %option 24
        %option 25
        %option 26
        %option 27
        %option 28
        %option 29
        %option 30
      %span 年
  .security-code
    %label セキュリティコード
    %span.require 必須
    %p
      %input
  .registration-btn
    登録する
