=link_to "商品出品ページ","products/new"

=link_to "マイページ","users/show"

=link_to "商品詳細ページ","products/show"

=link_to "商品購入確認ページ","products/purchase_details_confirmation"

= link_to "新規登録", new_user_registration_path
= link_to "ログイン", new_user_session_path