%p.purchase-details-title
  購入内容の確認
.purchase-details
  %img 
  %div
    %p レディース トップス 白色 胸ポケット付き
    %span 送料込み（税込み）
    %span 5,000円
.payment-amount
  %label 支払い金額
  %span 5,000円
.payment-method
  %div 支払い方法
  %a 登録してください
.shipping-address
  %div 配送先
  %a 登録してください
%p.note
  配送先と支払い方法の入力を完了してください。
.buy-btn
  購入する